PORT=8080

DB_USER=root
DB_PASS=
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=

REDIS_ADDR=localhost:6379
REDIS_USER=
REDIS_PASSWORD=

JWT_SECRET=your_jwt_secret
TOKEN_EXPIRY_MIN=60

ACCESS_TOKEN_EXPIRY_MIN=15
REFRESH_TOKEN_EXPIRY_MIN=10080 # 7 days

SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=